/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root {
    --color: #00bfa6;
}

/* CSS body */
body {
    background: url('../Images/bg.jpg') no-repeat center center/cover;
    height: 100vh;

}

/* Web Container */
.web_container {
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 1rem;
    position: relative;

}

/* Navigation */
header {
    font-family: 'Baloo Bhai 2';
    font-weight: bold;
    width: 150%;
    display: flex;
    text-transform: uppercase;
}

.logo {
    font-size: 1.2rem;
    margin-left: 30px;
    width: 40%;
    padding: 10px;

}

.navbar {
    font-family: 'Baloo Bhai 2';
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    height: 40px;
    line-height: 30px;
    scroll-behavior: smooth;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    padding: 15px;
}

.navbar ul li a {
    color: var(--color);
    text-decoration: none;
}

/* Content Conatainer */
.content_container {
    background-color: white;
    margin: 10px;
    margin-top: 20px;
    margin-left: 4%;
    border: 2px solid var(--color);
    border-radius: 0.5rem;
    width: 50%;
    height: 360px;

}

.content_container h2 {
    border: 2px solid var(--color);
    border-radius: 0.4rem;
    color: var(--color);
    font-family: 'Baloo Bhai 2';
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

.content_container h3 span {
    font-family: 'Baloo Bhai 2';
    color: var(--color);
}

.content_container h3 {
    font-family: 'Baloo Bhai 2';
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;

}

.content_container hr {
    border-top: 5px solid var(--color);
    border-radius: 0.4rem;
    width: 2.02rem;
    margin-left: 10px;
}

.content_container form {
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.content_container form label {
    color: var(--color);
    font-family: 'Baloo Bhai 2';
    font-size: 1.05rem;
    font-weight: bold;

}

.content_container form input {
    display: block;
    color: black;
    font-family: 'Baloo Bhai 2';
    background: lightgrey;
    border-radius: 0.3rem;
    width: 95%;
    height: 100%;
}

.content_container form input[type=submit] {
    margin-top: 15px;
    background-color: lightskyblue;
}

.packages {
    font-family: 'Baloo bhai 2';
    background-color: white;
    border: 2px solid var(--color);
    border-radius: 0.5rem;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 15%;
    width: 100vw;
    height: 360px;
}

.packages h2 {
    background-color: lightgrey;
    border: 2px solid var(--color);
    margin: auto;
    margin-top: 3px;
    width: fit-content;
    border-radius: 0.4rem;
    text-align: center;
    color: var(--color);
    font-weight: bold;
}

.packages hr {
    width: 15rem;
    border-top: 5px solid var(--color);
    border-radius: 0.3rem;
    margin-left: 228px;
}

.packages #pricing {
    display: flex;
    border-radius: 0.4rem;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    height: 310px;
}

#pricing table {
    margin-top: 5px;
    margin-left: 20px;
    width: 95%;
    height: 290px;
}

#pricing table, th, td {
    border: 2px solid var(--color);
    border-radius: 0.4rem;
    border-collapse: collapse;
}

#gallery {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    border-radius: 0.4rem;
}

#gallery h2 {
    color: var(--color);
    font-family: 'Baloo Bhai 2';
    font-weight: bold;
}


#gallery .address {
    text-align: center;
    background-color: white;
    width: 29%;
    border: 1px solid var(--color);
    border-radius: 0.4rem;

}

#gallery .address #mnp {
    color: black;
    font-weight: bold;
    font-family: 'Baloo Bhai 2';
    margin-top: 1px;
    list-style: none;

}

#gallery .address .jhp {
    margin-left: 10px;
    list-style: none;

}

#gallery .name {
    text-align: center;
    margin-right: 1.5%;
    margin-left: 1.5%;
    background-color: white;
    width: 29%;
    border: 1px solid var(--color);
    border-radius: 0.4rem;


}

#gallery .contact {
    text-align: center;
    background-color: white;
    width: 29%;
    border: 1px solid var(--color);
    border-radius: 0.4rem;

}

.icon {
    width: 1.1rem;
    height: 1.1rem;
    color: white;
    float: right;
    margin-top: 15px;
    margin-left: 10px;
}